In [ ]:
import pandas as pd

df = pd.read_csv("/tmp/csv_result-dataset_191_wine.csv")

df.head()

,id,'class','Alcohol','Malic_acid','Ash','Alcalinity_of_ash','Magnesium','Total_phenols','Flavanoids','Nonflavanoid_phenols','Proanthocyanins','Color_intensity','Hue','OD280%2FOD315_of_diluted_wines','Proline'
0,1,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,2,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,3,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,4,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,5,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                178 non-null    int64
 1   'class'                           178 non-null    int64
 2   'Alcohol'                         178 non-null    float64
 3   'Malic_acid'                      178 non-null    float64
 4   'Ash'                             178 non-null    float64
 5   'Alcalinity_of_ash'               178 non-null    float64
 6   'Magnesium'                       178 non-null    int64
 7   'Total_phenols'                   178 non-null    float64
 8   'Flavanoids'                      178 non-null    float64
 9   'Nonflavanoid_phenols'            178 non-null    float64
 10  'Proanthocyanins'                 178 non-null    float64
 11  'Color_intensity'                 178 non-null    float64
 12  'Hue'                             178 non-null    float64
 13  'OD280%2FOD315_of_diluted_wines'  178 non-null    float64
 14  'Proline'                         178 non-null    int64
dtypes: float64(11), int64(4)
memory usage: 21.0 KB

In [ ]:
df.drop('id', axis=1, inplace=True)

In [ ]:
X = df.drop("'class'", axis=1)
y = df["'class'"]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))

In [ ]:
scaledX = sc.fit_transform(X)

In [ ]:
print(scaledX[:,:])

[[0.84210526 0.1916996  0.57219251 ... 0.45528455 0.97069597 0.56134094]
 [0.57105263 0.2055336  0.4171123  ... 0.46341463 0.78021978 0.55064194]
 [0.56052632 0.3201581  0.70053476 ... 0.44715447 0.6959707  0.64693295]
 ...
 [0.58947368 0.69960474 0.48128342 ... 0.08943089 0.10622711 0.39728959]
 [0.56315789 0.36561265 0.54010695 ... 0.09756098 0.12820513 0.40085592]
 [0.81578947 0.66403162 0.73796791 ... 0.10569106 0.12087912 0.20114123]]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(scaledX, y, test_size=0.3,random_state=64)

In [ ]:
from sklearn.neural_network import MLPClassifier
mdl = MLPClassifier()

In [ ]:
mdl.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print('Akurasi Train = ',accuracy_score(y_train,mdl.predict(X_train)))
print('Akurasi Test  = ',accuracy_score(y_test,mdl.predict(X_test)))

Akurasi Train =  0.9919354838709677
Akurasi Test  =  1.0